
<div class="colored-line"></div>
  <div class="row d-flex padding">
    <div class="col-md-6 subscribe-padding">
      <h4 class="heading">Subscribe to our newsletter</h4>
      <p class="text">Get e-mail updates about our latest spaces</p>
    </div>

    <div class="col-md-6 input-padding">
      <label for="inputEmail1">
        Email
        <div class="form-group has-search">
          <span class="ri-mail-fill form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Enter your email..">
        </div>

      </label>
    </div>


  </div>
  <div class="colored-line"></div>
