.img-fluid {
  max-width: 80%;
  height: 70%;
  border-radius: 10px;
}

p {
  font-size: small;
  line-height: 0.7;
}

.price {
  color: #f2bc7d;
  font-weight: 600;
}

.heading {
  color: #f2bc7d;
  font-weight: 600;
}

.paragraph {
  color: #63736d;
  font-size: x-large;
}






.head {
  text-align-last: center;
}
