<div class="mainpadding d-flex flex-column">
  <div class="main-font"> Our Services</div>
  <div class="gray-second"> Quos rerum quos deserunt repellendus.</div>
  <div class="d-flex ">
    <div class=" d-flex">
      <div class="defP rounded-8 justify-content-end d-flex flex-column">
        <div class="padding-40 d-flex flex-column">
          <div class="font-3"> Lorem Ipsum
          </div >
          <div class="font-5"> Rerum atque labore et excepturi. Dolorem sunt sit delectus voluptatem iusto consectetur consequatur
            voluptatum consequuntur.
          </div>
        </div>
        <div>
          icon
        </div>
      </div>

    </div>

  <div class=" d-flex flex-column">

    <div class="defc mb-3 d-flex">
      <div class=" padding-40 d-flex justify-content-end flex-column">
        <div class="font-3"> Lorem Ipsum
        </div >
        <div class="font-5"> Rerum atque labore et excepturi. Dolorem sunt sit delectus voluptatem iusto consectetur consequatur
          voluptatum consequuntur.
        </div>
      </div>
      <div>
        icon
      </div>
    </div>
    <div  class=" defd d-flex">
      <div class="d-flex padding-40  justify-content-end flex-column">
        <div class="font-3"> Lorem Ipsum
        </div >
        <div class="font-5"> Rerum atque labore et excepturi. Dolorem sunt sit delectus voluptatem iusto consectetur consequatur
          voluptatum consequuntur.
        </div>
      </div>
      <div>
        icon
      </div>
    </div>

  </div>
</div> </div>
