.main-font {

  text-align: left;
  font-weight:500;
  font-size: 44px;
  font-family:"Signika" ;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.defP {
background-image: url('../../../assets/img/testimg.jpg');
 background-size: cover;
height: 31.2vw;
margin-right: 24px;
border-radius: 8px;

}
.defc,.defd {
  background-image: url('../../../assets/img/testimg.jpg');
   background-size: cover;
  height: 15.1vw;
   border-radius: 8px;

  }
.mainpadding{
  padding:0 130px 0 130px
}
.padding-40{

  padding: 40px;
}
.gray-second {

  font-size:  22px;
  font-family: "Signika";
  font-weight: 300;
  line-height: 26px ;
  letter-spacing: 0px;
  color: #8F8F8F;
  margin-bottom: 41px;
  opacity: 1;
}
.font-3{

   font-family: "Signika";
  font-size:   30px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.font-5{
   font-family: "Signika";
  font-size:   18px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #FFFFFF;

}
