.d-contents{
  display: contents;
}
.nav-item {
  margin-right: 35px;
}
mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color
{
  margin-bottom: -6px;
  margin-right: 5px;
}
