<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="16" alt="MDB Logo"
        loading="lazy" style="margin-top: -1px;" />
    </a>

    <!-- Toggle button -->
    <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Spaces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <!-- Navbar dropdown -->


      </ul>
      <!-- Left links -->
    </div>


    <!-- Sign in and menu icon -->

    <div class="row">
      <div class="col-md-6 d-contents">
        <button class="btn btn-primary sign-in-button"><mat-icon fontIcon="input"></mat-icon>Sign in</button>
      </div>

      <div class="col-md-4">
        <button class="btn btn-primary menu-button">
          <mat-icon class="mx-0" fontIcon="menu"></mat-icon>
        </button>
      </div>
    </div>

  </div>
  <!-- Container wrapper -->
</nav>
