<div class="container main-background p-5">

<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 center">

  <ul class="list-unstyled d-flex">
    <li class="ms-3"><i class="ri-facebook-circle-line"></i></li>
    <li class="ms-3"><i class="ri-twitter-x-line"></i></li>
    <li class="ms-3"><i class="ri-instagram-line"></i></li>
    <li class="ms-3"><i class="ri-tiktok-line"></i></li>
    <li class="ms-3"><i class="ri-youtube-line"></i></li>
    <li class="ms-3"><i class="ri-linkedin-line"></i></li>
  </ul>
  <h6 class="px-5">© 2024 La Casa Residence, Inc. All Rights Reserved.</h6>
</div>
</div>
