<div class="main-background">

<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 center">

  <ul class="list-unstyled d-flex">
    <li class="ms-3"><i class="fa fa-facebook"></i></li>
    <li class="ms-3"><i class="fa fa-x-twitter"></i></li>
    <li class="ms-3"><i class="fa fa-instagram"></i></li>
    <li class="ms-3"><i class="fa fa-tiktok"></i></li>
    <li class="ms-3"><i class="fa fa-youtube"></i></li>
    <li class="ms-3"><i class="fa fa-linkedin"></i></li>
  </ul>
  <h6 class="">© 2024 La Casa Residence, Inc. All Rights Reserved.</h6>
</div>
</div>
