<div class="mainpadding d-flex flex-column">
  <div class="section-title row">
    <div class="col-md-8">
      <h2>Trending</h2>
      <p>Sint explicabo totam. Odit eos aliquid. Cumque sequi totam praesentium ipsum.</p>
    </div>

    <div class="col-md-4 align-col-btn">
      <button class="btn btn-primary aligned-button">See More</button>
    </div>

  </div>
  <div class="row m-0">
    <div class="col-md-3 p-0">
      <div class="card">
        <img src="../../../assets/img/BG1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum Sit</h5>
          <p class="card-text"><i class="ri-map-pin-line"></i>Egypt</p>
          <p class="card-text"><i class="ri-star-fill star"></i>4.8 (2.4K Reviews)</p>
          <p class="price">1800<sub class="currency">EGP</sub><span class="old-price">3000</span></p>
          <p class="card-text">Includes taxes and fees</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-0">
      <div class="card">
        <img src="../../../assets/img/BG1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum Sit</h5>
          <p class="card-text"><i class="ri-map-pin-line"></i>Egypt</p>
          <p class="card-text"><i class="ri-star-fill star"></i>4.8 (2.4K Reviews)</p>
          <p class="price">1800<sub class="currency">EGP</sub><span class="old-price">3000</span></p>
          <p class="card-text">Includes taxes and fees</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-0">
      <div class="card">
        <img src="../../../assets/img/BG1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum Sit</h5>
          <p class="card-text"><i class="ri-map-pin-line"></i>Egypt</p>
          <p class="card-text"><i class="ri-star-fill star"></i>4.8 (2.4K Reviews)</p>
          <p class="price">1800<sub class="currency">EGP</sub><span class="old-price">3000</span></p>
          <p class="card-text">Includes taxes and fees</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-0">
      <div class="card">
        <img src="../../../assets/img/BG1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum Sit</h5>
          <p class="card-text"><i class="ri-map-pin-line"></i>Egypt</p>
          <p class="card-text"><i class="ri-star-fill star"></i>4.8 (2.4K Reviews)</p>
          <p class="price">1800<sub class="currency">EGP</sub><span class="old-price">3000</span></p>
          <p class="card-text">Includes taxes and fees</p>
        </div>
      </div>
    </div>
  </div>

</div>
