<div class="mainpadding d-flex flex-column">
  <div class="section-title">
      <h2>Trending</h2>
      <p>Sint explicabo totam. Odit eos aliquid. Cumque sequi totam praesentium ipsum.</p>
  </div>
  <div class="row">
      <div class="col-md-3 p-0">
          <div class="card">
              <img src="https://via.placeholder.com/278x300" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Lorem Ipsum Sit</h5>
                  <p class="card-text"><i class="ri-map-pin-line"></i>Egypt</p>
                  <p class="card-text"><i class="ri-star-fill"></i>4.8 (2.4K Reviews)</p>
                  <p class="price">1800 EGP <span class="old-price">3000</span></p>
                  <p class="card-text">Includes taxes and fees</p>
              </div>
          </div>
      </div>
      <div class="col-md-3 p-0">
          <div class="card">
              <img src="https://via.placeholder.com/278x300" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Lorem Ipsum Sit</h5>
                  <p class="card-text"><i class="ri-map-pin-line"></i>Egypt</p>
                  <p class="card-text"><i class="ri-star-fill"></i>4.8 (2.4K Reviews)</p>
                  <p class="price">1800 EGP <span class="old-price">3000</span></p>
                  <p class="card-text">Includes taxes and fees</p>
              </div>
          </div>
      </div>
      <div class="col-md-3 p-0">
          <div class="card">
              <img src="https://via.placeholder.com/278x300" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Lorem Ipsum Sit</h5>
                  <p class="card-text"><i class="ri-map-pin-line"></i>Egypt</p>
                  <p class="card-text"><i class="ri-star-fill"></i>4.8 (2.4K Reviews)</p>
                  <p class="price">1800 EGP <span class="old-price">3000</span></p>
                  <p class="card-text">Includes taxes and fees</p>
              </div>
          </div>
      </div>
      <div class="col-md-3 p-0">
          <div class="card">
              <img src="https://via.placeholder.com/278x300" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Lorem Ipsum Sit</h5>
                  <p class="card-text"><i class="ri-map-pin-line"></i>Egypt</p>
                  <p class="card-text"><i class="ri-star-fill"></i>4.8 (2.4K Reviews)</p>
                  <p class="price">1800 EGP <span class="old-price">3000</span></p>
                  <p class="card-text">Includes taxes and fees</p>
              </div>
          </div>
      </div>
  </div>
  <button type="button" class="btn btn-outline-light btn-see-more">See More</button>
</div>