body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: Arial, sans-serif;
}

.mainpadding {
  padding: 0 130px;
}




.section-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.section-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fdc381;
  display: inline-block;
  padding-right: 1rem;
  margin-top: -10px;
}

.title-underline {
  position: absolute;
  top: 18%;
  margin-left: 11rem;
  left: 0;
  width: 73%;
  border-top: 2px solid #fdc381;
  z-index: -1;
}
.title-underline2 {
  position: absolute;
  top: 22%;
  margin-left: 11rem;
  left: 0;
  width: 73%;
  border-top: 2px solid #fdc381;
  z-index: -1;
}

.section-title p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #727a77;
}

.row {
  display: flex;
  line-height: 0.5;
}

.card {
  background-color: inherit;
  border: none;
  color: #fff;
  margin-bottom: 2rem;
}

.card img {
  border-radius: 8px;
}

.card-title {
  font-size: 1.25rem;
}

.card-text i {
  margin-right: 0.5rem;
}

.price {
  color: #fdc381;
  font-size: 1.5em;
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  color: #ffffff;
}

.btn-see-more {
  display: block;
  margin: 2rem auto;
  color: #fff;
  border-color: #fff;
}

img.card-img-top {
  width: 278px;
  height: 300px;
  margin: 0;
  padding: 0;
}

.currency {
  color: white;
  font-size: small;
}

.card-body {
  line-height: 0.4;
  flex: 1 1 auto;
  padding-left: 10px !important;
}

.star{
  color: #fdc381;
}
.card-body {
  padding: unset !important;
  padding-left: 10px !important;
}

.aligned-button {
  border-radius: 20% / 50% !important;
  background-color: transparent !important;
  border-color: #FDC381 !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}


.aligned-button:hover {
  background-color: #FDC381 !important;
  color: white !important;
}

.align-col-btn{
  text-align-last: right;
  padding-right: 3.2rem;
}
