.sign-in-button{
  background-color: #e4c7a6 !important;
  color: #224c3c !important;
  border: none !important;
  padding: 10px !important;
}

.menu-button{
  background-color: #2f5742 !important;
  color: #e4c7a6 !important;
  border: none !important;
  padding: 10px !important;
}

.menu-button:hover{
  background-color: #3a6b51 !important;
}

.sign-in-button:hover{
background-color: #c0a78b !important;
}

.main-background{
  background: linear-gradient(to right, #1b3c2f, #1e4335) !important;
  color: white !important;
}


.aligned-button {
  border-radius: 20% / 50% !important;
  background-color: transparent !important;
  border-color: #f2bc7d !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}


.aligned-button:hover {
  background-color: #f2bc7d !important;
  color: white !important;
}

body{
  background: linear-gradient(to right, #1b3c2f, #1e4335) !important;
}
