.sign-in-button{
  background-color: #e4c7a6 !important;
  color: #224c3c !important;
  border: none !important;
  padding: 10px !important;
}

.menu-button{
  background-color: #2f5742 !important;
  color: #e4c7a6 !important;
  border: none !important;
  padding: 10px !important;
}
