
  <footer class="d-flex">
    <div class="col-md-5">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <img src="../../../assets/img/Logo/Logo.png" alt="" srcset="">
      </a>
    </div>

    <div class="col-md-7 d-flex links">

      <div class="col">
        <h6>Home</h6>
        <ul class="nav flex-column">
          <li class="nav-item "><a href="#" class=" p-0 ">Home</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">Features</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">Pricing</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">FAQs</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">About</a></li>
        </ul>
      </div>

      <div class="col">
        <h6>Spaces</h6>
        <ul class="nav flex-column">
          <li class="nav-item "><a href="#" class=" p-0 ">Home</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">Features</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">Pricing</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">FAQs</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">About</a></li>
        </ul>
      </div>

      <div class="col">
        <h6>About Us</h6>
        <ul class="nav flex-column">
          <li class="nav-item "><a href="#" class=" p-0 ">Home</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">Features</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">Pricing</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">FAQs</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">About</a></li>
        </ul>
      </div>

      <div class="col">
        <h6>Contact Us</h6>
        <ul class="nav flex-column">
          <li class="nav-item "><a href="#" class=" p-0 ">Home</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">Features</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">Pricing</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">FAQs</a></li>
          <li class="nav-item "><a href="#" class=" p-0 ">About</a></li>
        </ul>
      </div>
    </div>
  </footer>

